@media screen and (min-width: 480px) {

    /****************
    TWO COLUMN LAYOUT
    ****************/
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%
        float: right;
    }
    
    /****************
    PAGE: ABOUT
    ****************/
    .profile-photo {
        float: left;
        margin: 0 5%  80px;
    }
    /****************
    PAGE: PORTFOLIO
    ****************/
    #gallery li {
        width: 28.3333%;
    }
    
    #gallery li:nth-child(4n) {
        clear: left;
    }
    

}

@media screen and (max-width: 660px) {
        nav {
        margin-top: 20px;
    }
}

@media screen and (min-width: 660px) {
    
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.325em;
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        padding-bottom: 25px;
    }
    
    header {
        margin-bottom: 60px;
        border-bottom: 5px solid #599a68;
    }
    
    nav {
        float: right;
        background: none;
        text-align: right;
        width: 45%;
        margin-right: 5%;
    }
}